<?xml version="1.0"?>
<launch>
    <arg name="pointcloud_topics" default="[/ce30c_output]"/>
    <arg name="camera_frame_id" default="lidar_benewake"/>
    <arg name="start_pos_x" default="0.0" />
    <arg name="start_pos_y" default="0.0" />
    <arg name="start_pos_z" default="0.5" />
    <arg name="frame_id"    default="local_origin" />


    <!-- Global Planner -->
    <node name="global_planner_node" pkg="global_planner" type="global_planner_node" output="screen">

        <param name="frame_id" type="string" value="$(arg frame_id)" />
        <param name="camera_frame_id" type="string" value="/$(arg camera_frame_id)" />
        <param name="start_pos_x" value="$(arg start_pos_x)" />
        <param name="start_pos_y" value="$(arg start_pos_y)" />
        <param name="start_pos_z" value="$(arg start_pos_z)" />
        <rosparam param="pointcloud_topics" subst_value="True">$(arg pointcloud_topics)</rosparam>
        <param name="robot_radius" value="0.5" /> 

    </node>

    <!-- OctoMap Server -->
    <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
        <param name="resolution" value="0.15" />
        <param name="frame_id" type="string" value="$(arg frame_id)" />
        <param name="height_map" value="true" />
	<param name="occupancy_min_z" value="0.1" />  
        <param name="publish_free_space" value="false" />
        <!-- Sensor -->
            <remap from="cloud_in" to="/ce30c_output"/>
    </node>
</launch>
