<?xml version="1.0"?>
<launch>

    <arg name="pointcloud_topics" default="[/camera/depth/points]"/>
    <arg name="camera_frame_id" default="camera_link"/>
    <arg name="start_pos_x" default="0" />
    <arg name="start_pos_y" default="0" />
    <arg name="start_pos_z" default="3.0" />

    <!-- Define a static transform from a camera internal frame to the fcu for every camera used -->
    <!-- Ros transformation -->
    <node pkg="tf" type="static_transform_publisher" name="base_to_laser_broadcaster" args="0 0 0 0 0 0 /base_link /ce30c_lidar 100" />

    <!-- Launch PX4 and mavros -->
    <include file="real_px4.launch" > </include>

    <!-- Global planner -->
    <include file="real_octomap.launch" >
        <arg name="pointcloud_topics" value="$(arg pointcloud_topics)" />
        <arg name="camera_frame_id" value="$(arg camera_frame_id)" />
        <arg name="start_pos_x" value="$(arg start_pos_x)" />
        <arg name="start_pos_y" value="$(arg start_pos_y)" />
        <arg name="start_pos_z" value="$(arg start_pos_z)" />
    </include>>

    <node pkg="rviz" type="rviz" output="screen" name="rviz" respawn="true"
          args="-d $(find global_planner)/resource/global_planner.rviz" />

</launch>
